input[name="dom"].form-control{
	max-width: 40%;
}
div.container{
	margin-top: 3em;
}
input{
	margin-bottom: 1%;
}
textarea{
	margin-bottom: 1%;
}
select{
	margin-bottom: 1%;
}
input.btn{
	margin-top: 2%;
}
span{
	margin-right: 2%;
}
button.btn{
	margin-top: 2%;
}
label{
	font-weight: 500;
}